/* Hero Section */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 9.6rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  gap: 9.6rem;
  align-items: center;
}

.hero-discribtion {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  list-style: 1.6;
}

.hero-img {
  width: 100%;
}

.dilveried-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.dliveried-imgs {
  display: flex;
}
.dliveried-imgs img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid 3px #fdf2e9;
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;
}

.dliveried-imgs img:last-child {
  margin: 0;
}

.delvried-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delvried-text span {
  color: #cf711f;
  font-weight: 700;
}
/* ********************* */

/* Section How */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-descibition {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  background-color: #fdf2e9;
  padding-bottom: 60%;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
}
/* *********** */
