/* Hero Section */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 9.6rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  gap: 9.6rem;
  align-items: center;
}

.hero-discribtion {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  list-style: 1.6;
}

.hero-img {
  width: 100%;
}

.dilveried-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.dliveried-imgs {
  display: flex;
}
.dliveried-imgs img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid 3px #fdf2e9;
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;
}

.dliveried-imgs img:last-child {
  margin: 0;
}

.delvried-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delvried-text span {
  color: #cf711f;
  font-weight: 700;
}
/* ********************* */

/* Featurd in Section */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  -webkit-filter: brightness(0);
  opacity: 50%;
}

/* ******************* */

/* Section How */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-descibition {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  background-color: #fdf2e9;
  padding-bottom: 60%;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
}
/* *********** */

/* Meals section */

.meals-section {
  padding: 9.6rem 0;
}

.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attribuets {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.tag {
  display: inline-block;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  grid-area: 0.4rem;
}

.tag--vegeterian {
  background-color: #51cf65;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal {
  box-shadow: 0 2.4px 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  overflow: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal:hover {
  transform: translateY(-1.2rem);
  -webkit-transform: translateY(-1.2rem);
  -moz-transform: translateY(-1.2rem);
  -ms-transform: translateY(-1.2rem);
  -o-transform: translateY(-1.2rem);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* ************* */
/*Testimonials Section*/

.section-testimonials {
  padding: 9.6rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.testimonial-img {
  width: 4.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

/********************* */
